body {
    color: white;
    /* background-color: black; */
    background: #000000 url('pattern_1.svg');
    background-repeat: repeat;
}

p {
    text-align: right;
    margin: 10px;
}

h1,
h2 {
    color: red;
    font-family: 'Roboto', sans-serif;
    text-align: right;
    margin: 10px;
}

em {
    color: green;
    text-decoration: underline double;
    /* border-bottom: 5px double; */
    padding: 0 5px;
}

strong {
    font-family: 'Caveat', sans-serif;
}

.wrapper {
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 10px;
    padding-right: 10px;
}